<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookmarks Consumer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h3>List of Bookmarks</h3>

<div th:fragment="table" class="container">
    <div class="container">
        <div class="container-fluid">
            <table border="1">
                <thead>
                <th>Name</th>
                <th>URL</th>
                <th>Added</th>
                </thead>
                <tbody>
                <tr th:each="bookmark : ${bookmarks}">
                    <td th:text="${bookmark.name}"></td>
                    <td>
                        <a th:href="${bookmark.url}">
                            <div th:text="${bookmark.url}"></div>
                        </a>
                    </td>
                    <td th:text="${bookmark.added}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p th:text="'Localhost info - ' + ${currentHostInfo.host()} + ':' + ${currentHostInfo.port()}" />

</body>
</html>