<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookmarks Producer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<br><b>Submit new bookmark:</b>
<form action="#" th:action="@{/saveBookmark}" th:object="${newBookmark}" method="post">
    <table border="1">
        <tr>
            <input type="hidden" th:field="*{user}" value="${newBookmark.getUser()}"/>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td>URL:</td>
            <td><input type="url" th:field="*{url}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
<p th:text="'Your are logged in as ' + ${newBookmark.getUser()}" />


</body>
</html>